/* line 48, icons/*.png */
.icons-sprite, .icons-bitbucket {
  background-image: url('../images/icons-sbad07316ea.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../../../Users/arimaulana/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-bitbucket {
  background-position: 0 0; }

/* line 12, ../scss/libs/_images.scss */
.ic-reload {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: 0px;
  width: 20px;
  height: 20px; }

/* line 21, ../scss/libs/_images.scss */
.ic-close {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: -20px;
  width: 20px;
  height: 20px; }

/* line 30, ../scss/libs/_images.scss */
.ic-plus {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: -40px;
  width: 20px;
  height: 20px; }

/* line 39, ../scss/libs/_images.scss */
.ic-minus {
  position: relative;
  background-size: cover;
  background-image: url('../images/sprite.png?1470634454');
  background-position-y: -60px;
  width: 20px;
  height: 20px; }

/* line 48, ../scss/libs/_images.scss */
.text {
  padding: 50px 150px;
  background-position: 5px 50%;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/267px-F_icon.svg.png"); }

/* line 1, ../scss/components/_table.scss */
.ri-tbl {
  margin: 0; }
  /* line 3, ../scss/components/_table.scss */
  .ri-tbl tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

/* line 11, ../scss/components/_table.scss */
.ri-tbl-bm {
  width: 100%; }

/* line 1, ../scss/components/_button.scss */
.ri-btn {
  background-color: #eee;
  border: none; }

/* line 8, ../scss/components/_button.scss */
.ri-btn-primary {
  background-color: #FC5830;
  border: none; }

/* line 13, ../scss/components/_button.scss */
.ri-btn-default {
  background-color: #FC5830;
  border: none; }

/* line 19, ../scss/components/_button.scss */
.btn.btn-primary {
  background-color: #FC5830;
  border: none; }

/* line 10, ../scss/pages/_home.scss */
h2 {
  color: #FC5830;
  text-align: center; }

/* line 16, ../scss/pages/_home.scss */
.btn.btn-primary {
  background-color: #FC5830; }

/* line 22, ../scss/pages/_home.scss */
.nav-list li {
  background-color: #eeeeee; }
  /* line 24, ../scss/pages/_home.scss */
  .nav-list li a {
    color: #666666;
    border-bottom: 1px solid #bbbbbb; }
  /* line 28, ../scss/pages/_home.scss */
  .nav-list li a:hover {
    background-color: #cccccc; }

/* line 34, ../scss/pages/_home.scss */
.page-header {
  background-color: #FC5830;
  padding: 10px; }

/* line 39, ../scss/pages/_home.scss */
.navbar {
  border-bottom: 1px solid #cccccc;
  background-color: #EEEEEE; }

/* line 44, ../scss/pages/_home.scss */
.text-input {
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0px; }

/* line 53, ../scss/pages/_home.scss */
.pad5 {
  padding: 5px; }

/* line 57, ../scss/pages/_home.scss */
.pad10 {
  padding: 10px; }

/* line 61, ../scss/pages/_home.scss */
.pad15 {
  padding: 15px; }

/* line 65, ../scss/pages/_home.scss */
.mar5 {
  margin: 5px; }

/* line 69, ../scss/pages/_home.scss */
.mar10 {
  margin: 10px; }

/* line 73, ../scss/pages/_home.scss */
.mar15 {
  margin: 15px; }

/*# sourceMappingURL=app.css.map */
