//lib
@import "../libs/colors";
@import "../libs/images";
//component
@import "../components/table";
@import "../components/button";
//utility
@import "compass/css3/border-radius";

h2 {
  color: $color-primary;
  text-align: center;
}

.btn{
  &.btn-primary{
    background-color: $color-primary;
  }
}

.nav-list{
  li{
    background-color: #eeeeee;
    a{
      color: #666666;
      border-bottom: 1px solid #bbbbbb;
    }
    a:hover{
      background-color: #cccccc;
    }
  }
}

.page-header{
  background-color: $color-primary;
  padding: 10px;
}

.navbar{
  border-bottom: 1px solid #cccccc;
  background-color: #EEEEEE;
}

#footer{
  border-top: 1px solid #cccccc;
  background-color: #EEEEEE;
  border-bottom: none;
}

.text-input{
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0px;
}

$main_padd: 5px;
$main_mar: 5px;

.pad5{
  padding: $main_padd;
}

.pad10{
  padding: $main_padd * 2;
}

.pad15{
  padding: $main_padd * 3;
}

.mar5{
  margin: $main_mar;
}

.mar10{
  margin: $main_mar * 2;
}

.mar15{
  margin: $main_mar * 3;
}
